/*-- scss:rules --*/
.reveal {

    // Callouts:
    $callout-color-note: $julia-blue !default;
    $callout-color-tip: $julia-green !default;
    $callout-color-warning: $julia-purple !default;
    $callout-color-caution: lighten($callout-color-warning, 30%) !default;
    $callout-color-important: $julia-red !default;

    h1, h2, h3, h4, h5, h6 {
        font-family: "JuliaMono-Light";
    }
    
    hr {
        color: $julia-blue;
    }

    .progress {
        color: $code-color;
    }
}
